* {
  box-sizing: border-box;
/* 
  margin: 0;
  padding: 0; */
}

body {
  font-family: Roboto, sans-serif;
  color: #4A4A4A;
}

ul {list-style: none;}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
}


/* ============================ PROMO =========================== */

.promo {
  min-height: 800px;
  background: url('../img/main_bg.jpg') center center/cover no-repeat;

  padding: 38px 0 61px;
}

.logo {margin-bottom: 53px;}

.logo-img {
  display: block;
  margin: 0 auto;
}

.logo-txt {
  font: 500 15px/24px Roboto, sans-serif;
  text-transform: uppercase;  
  text-align: center;
  color: #fff;

  margin-top: 10px;
}

.title {
  font: 900 41px/1 Roboto, sans-serif;
  text-transform: uppercase;  
  text-align: center;
  color: #F9BF3B;
}

.title-big {
  font: 900 80px/1 Roboto, sans-serif;
  text-transform: uppercase;  
  text-align: center;
  color: #fff;

  margin: 21px 0;
}

h2.title {margin-bottom: 23px;}

.promo-txt {
  font: 300 21px/28px Roboto, sans-serif;
  text-align: center;
  color: #fff;

  margin-bottom: 72px;
}

.promo-txt span {
  font-weight: 700;
  color: #F9BF3B;
}

.promo-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 72px;

  font: 21px/24px 'Roboto Condensed', sans-serif;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
  color: #fff;

  width: 313px;
  height: 72px;

  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);  
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);

  cursor: pointer;
  outline: none;
}

.more-txt {
  font: 100 15px/24px Roboto, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.more-img {
  display: block;
  margin: 0 auto;
}


/* ================= EXPECTATIONS ================== */

.expectations {
  padding: 85px 0 75px;  
  min-height: 607px;
  background-color: #EFEFEF;
}

h2.plain-header {
  font: 30px/1 Roboto, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #252525;

  margin-bottom: 18px;
}

.devider {
  width: 220px;
  height: 7px;
  margin: 0 auto;
  margin-bottom: 18px;

  background-color: #F9BF3B;
}

.exp-subheader {
  font: 23px/1 Roboto, sans-serif;
  text-align: center;

  margin-bottom: 45px;
}

.exp-list {
  display: flex;
  justify-content: space-between;
}

.exp-item {
  width: 342px;
}

.exp-img {margin-bottom: 25px;}

.exp-txt {
  font: 300 15px/21px Roboto, sans-serif;
  text-align: center;
}


/* =================== OPTIMIZATION =========== */

.optimization {
  min-height: 550px;
  padding: 108px 0 60px;

  background: url(../img/woman_bg.png) 150px bottom no-repeat;
}

.optimization h2 {
  font: 900 30px/1 Roboto, sans-serif;
  text-transform: uppercase;
  color: #299CBD;

  padding-left: 390px;
  margin-bottom: 20px;
}

.optimization p {
  font: 300 17px/27px Roboto, sans-serif;
  
  padding-left: 390px;
  margin-bottom: 14px;
}


/* ========================  AFTERWARDS ==================== */

.afterwards {
  height: 447px;
  padding: 70px 0;

  background: url(../img/second_bg.jpg) center top no-repeat;
}

.afterwards .plain-header {color: #fff;}
.afterwards .devider {margin-bottom: 39px;}

.benefits {
  display: flex;
  justify-content: space-between;
}

.benefit {width: 200px;}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 118px;
  height: 118px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 50%;

  background-color: #B4E2FF;
}

/* .icon-wrapper img {  
  display: block;
  margin: 0 auto;
} */

.benefit p {
  font: 300 17px/20px Roboto, sans-serif;
  text-align: center;
  color: #EFEFEF;
}


/* ======================= GIFT ===================== */

.gift {
  height: 631px;
  padding: 85px 0;

  background-color: #EFEFEF;
}

.gift-img {
  display: block;
  margin: 0 auto;

  margin-bottom: 40px;
}

.gift-desc {
  font-size: 30px;
  line-height: 43px;
  text-align: center;

  margin-bottom: 45px;
}


/* ======================= WEBINAR ======================= */

.webinar {
  min-height: 512px;
  padding: 80px 0 50px;
}

.webinar-img {
  display: block;
  margin: 0 auto;

  margin-bottom: 36px;
}

.webinar p {text-align: center}

.first {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 30px;
}

.time {
  font: 900 36px/1 Roboto, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #299CBD;

  margin-bottom: 23px;
}

.hurry-up {font-size: 23px;}


/* ==================== FOOTER =========================== */

footer {
  height: 169px;
  padding: 51px 0 63px;

  background-color: #1A1A1A;
}

footer p {
  font: 300 15px/21px Roboto, sans-serif;
  color: #888888;
  text-align: center;
}

footer a {
  text-decoration-line: underline;
  color: #888888;
}